<p id="notice"><%= notice %></p>

<%= render "shared/header" %>

<div class="schedule_display">
  <div class="schedule_main">
    <div class="col-md-4">
      <div class="table">
        <div class="sche-title">
            <div class="sche_title_plan">タイトル日程</div>
        </div>
      </div>

      <%= form_with(model: @schedule, local: true) do |form| %>

        <div class="sche_title_detail">
          <div class="form-tag">タイトル</div>
          <%= form.text_field :title %>
        </div>

         <div class="sche_budget">
          <div class="form-tag">予算</div>
          <%= form.text_field :budget %>円
        </div>

        <div class="sche_region">
          <div class="form-tag">地域</div>
          <%= form.select :region, options_for_select([['北アメリカ', 'north-america'], ['南アメリカ', 'south-america'], ['ヨーロッパ', 'europe'], ['アフリカ', 'africa'], ['オセアニア', 'oceania'], ['東アジア', 'east-asia'], ['東南アジア', 'southeast-asia'], ['中央・中東アジア', 'central-middleeast-asia'], ['日本', 'japan']]) %>
        </div>

        <div class="shce_time">
          <div class="form-tag">開始日</div>
          <%= form.date_select :start_time %>
        </div>

        <div class="sche_time">
          <div class="form-tag">終了日</div>
          <%= form.date_select :end_time %>
        </div>

        <div class="sche_submit">
          <%= form.submit %>
        </div>
      <% end %>
   </div>

      <div class="col-md-8">
        <%= month_calendar events: @schedules do | date, schedules | %>
          <%= date.day %>
          <% schedules.each do |schedule| %>
            <div class="schedule-option-<%= schedule.region.parameterize %>">
              <%= link_to schedule.title, "#", class: 'sche_title_deco'%>
            </div>
          <% end %>
        <% end %>
        <br>

        <table class="table-bordered">
          <div class="schedule_list">今後の予定一覧</div>
			    <thead>
            <tr>
              <th>タイトル</th>
              <th>予算（円）</th>
              <th>地域</th>
              <th>開始日</th>
              <th>終了日</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <div class="sche-plan">
            <% @schedules.each do |plan| %>
              <tbody>
                <tr>
                  <td><%= link_to plan.title, '#' ,class:'sche_plan_title'%></td>
                  <td><%= plan.budget.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, "\\1,")%></td>
                  <td><%= plan.region%></td>
                  <td><%= plan.start_time.strftime("%Y-%m-%d")%></td>
                  <td><%= plan.end_time.strftime("%Y-%m-%d")%></td>
                  <td><%=link_to "編集" , '#',:class=>"btn04"  %></td>
                  <td><%=link_to "削除", '#' , method: :delete , data: {confirm:"削除しますか"} ,:class=>"btn03"%></td>
                </tr>
              </tbody>
            <% end %>
          </div>
  		  </table>
      </div>
</div>
</div>
<%= render "shared/footer" %>