<header class="top-page-header">
  <div class="heading">
    <h1 class="logo"><a href="/">WanderList</a></h1>
    <ul class="lists_right">
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, '#', class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%>
     <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login"%>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up"%>
     <% end %>
    </ul>
  </div>
  <div class="nav">
    <ul class="nav-lists" >
      <li><%= link_to '投稿', new_post_path, class: "nav-lists_list", id: "list1" %></li>
      <li><%= link_to 'スケジュール帳', '#', class: "nav-lists_list", id: "list2" %></li>
      <li><%= link_to '地図', '#', class: "nav-lists_list", id: "list3" %></li>
      <li><%= link_to 'お気に入り', '#', class: "nav-lists_list", id: "list4" %></li>
      <li><%= link_to '友達リスト', '#', class: "nav-lists_list", id: "list5" %></li>
    </ul>
  </div>
</header>